@using RaceDay.ViewModels
@model EventInfo
<span class="event-count">@Model.AttendanceCount</span>
<div class="event-button event-attending" title="Click if not attending" data-event-id="@Model.EventId"><span class="glyphicon glyphicon-check"></span><span class="status">@AttendanceResult.AttendingMessage</span></div>
